body{
    font-family: sans-serif;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px; 
}

/* Media query for tablet/laptop landscape (1024px and above) */
@media screen and (min-width: 1024px) {
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-container img {
        width: calc(33.33%); 
    }
}

/* Media query for large mobile/tablet portrait (up to 800px) */
@media screen and (max-width: 800px) {
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-container img {
        width: calc(50%); 
    }
}

/* Media query for standard resolution mobile portrait (below 480px) */
@media screen and (max-width: 480px) {
    .image-container {
        display: block;
        text-align: center;
    }

    .image-container img {
        width: 100%;
    }
}